<div class="container">
    <h2>Duplicates Folders</h2>
    <button type="button" class="btn btn-xs btn-info" ng-click="getDuplicateFolders()">
        <span class="glyphicon glyphicon-search"></span> Search
    </button><br>
    
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th class="ay-sort sorted-asc">Size</th>
            <th class="ay-sort">#Files</th>
            <th class="ay-sort"><span>&#37;F1</span></th>
            <th class="ay-sort"><span>&#37;F2</span></th>
            <th class="ay-sort"><span>Paths</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="r in result">
            <td>{{r.totalSize}}</td>
            <td>{{r.filesInFolder1 + r.filesInFolder2}}</td>
            <td>{{r.filesInFolder1}}</td>
            <td>{{r.filesInFolder2}}</td>
            <td>{{r.folder1}}<br>{{r.folder2}}</td>
            <td>
                <a ng-click="generatePathLink(r.folder1, null)" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-folder-open"></span>   folders</a><br>
                <a ng-click="generatePathLink(null, r.folder2)" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-folder-open"></span>   folders</a>
            </td>
        </tr>
    {{r.folder2}}    </tbody>
    </table>
</div>